/* Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);



.custom-container {
    /* border: 1px solid green; */
    color: white;
    padding-top: 80px;
}

/* .custom-row {
    border: 3px solid red;
}

.custom-column {
    border: 3px dotted blue;
} */

.intro-section {
    text-align: left;
}

.bar-item-container p {
    color: white;
    font-size: medium;
    visibility: hidden;
    padding-top: 10px;
    font-weight: 550 !important;
    user-select: none;
}

.bar-item:hover p {
    visibility: visible;
}

/* Typing Animation */
/* Type Writer Effect */

.line-1 {
    width: 20em;
    border-right: 2px solid transparent;
    white-space: nowrap;
    overflow: hidden;
    opacity: 0;
    animation: typewriter1 2s steps(60, end), blinkTextCursor .85s steps(60, end) 3, slidein 0s ease 0s forwards;
    animation-delay: 2s;
    line-height: normal;
    margin-bottom: 10px;
}

.line-2 {
    width: 12em;
    border-right: 2px solid transparent;
    white-space: nowrap;
    overflow: hidden;
    opacity: 0;
    animation: typewriter2 2s steps(60, end), blinkTextCursor .85s steps(60, end) 5, slidein 0s ease 0s forwards;
    animation-delay: 4s;
}

.line-3 {
    width: auto;
    border-right: 2px solid transparent;
    white-space: nowrap;
    overflow: auto;
    opacity: 0;
    animation: typewriter1 2s steps(60, end), blinkTextCursor .85s steps(60, end) 3, slidein 0s ease 0s forwards;
    animation-delay: 2s;
    line-height: normal;
    margin-bottom: 10px;
}

/* Animation */ 

@keyframes typewriter1 {
    from { 
        width: 0; 
    }
    to { 
        width: 20em; 
    }
}

@keyframes typewriter2 {
    from { 
        width: 0; 
    }
    to { 
        width: 12em; 
    }
}

@keyframes blinkTextCursor {
    from { 
        border-right-color: rgba(255,255,255,.75); 
    }
    to { 
        border-right-color: transparent;
        }
}

@keyframes slidein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.type-writer-section {
    padding-top: 5em;
}

.social-bar {
    margin-top: 0 !important;
  }